REDIS_SCHEME=tcp
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=0

QUEUE_NAME=queue
QUEUE_FAILED_NAME=failed_queue
QUEUE_MAX_RETRIES=3

WORKER_MIN=1
WORKER_MAX=100
WORKER_JOBS_PER=30
WORKER_SLEEP_MS=100
